<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script defer="" src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
    integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"
  integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.4/dist/tailwind.min.css"> -->
</head>

<body>
  <%- include ('headerdark') %>

    <div class="bg-white shadow py-2 ">
      <div class="max-w-7xl mx-auto  px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-900">
          <%=welcomeMessage%> <i class="text-uppercase">
              <%= user[0] %>
            </i>
        </h1>
      </div>
    </div>
    <div class="bg-blue-300 flex justify-between">
      <div class=" max-w-7xl px-4 py-6 bg-blue-300 sm:px-6 lg:px-8 hidden lg:block md:block">

        <img class=" flex-1 w-48 h-48 rounded-full shadow-lg" src="../images/profile.png" alt="">
      </div>
      <div class="bg-blue-300  max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class=" text-3xl ms-4 font-sans tracking-tight text-gray-900 text-uppercase ">
          <%= user[0] %>
        </h1>
        <p class="ms-4 fst-italic   "> <b> Email:<%=user[1]%> </b> </p>
      </div>

      <div class="bg-blue-300 mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      </div>
    </div>
    <main>
      <div class=" max-w-7xl py-0 ">
        <div class="md:flex no-wrap md:-mx-2  ">
          <!-- Left Side -->

          <div class=" w-full md:w-3/12 ">

            <div class=" p-3 ">

              <ul
                class="-mt-3 text-sm font-semibold text-gray-500 hover:text-gray-700 py-2 px-3 mt-3 divide-y rounded bg-white ">
                <li class="items-center py-3">
                  <span>We maintain your privacy and its our first priority </span><br />


                </li>



              </ul>
            </div>
          </div>
          <!-- Right Side -->
          <div class="w-full mx-2   md:block lg:block md:-mt-24 sm:mt-0">
            <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8 sm:block ">
              <div class="overflow-hidden border border-gray-200  md:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200 ">

                  <tbody class="bg-white divide-y divide-gray-200 ">
                    <tr>
                    <tr>
                      <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                        <div>
                          <h2 class="font-medium text-gray-800  ">You can visit our website to get update about PSL</h2>

                        </div>
                      </td>

                    </tr>
                    <tr>
                      <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                        <div>
                          <h2 class="font-medium text-gray-800  ">Eager to know matches update ,visit matches pages</h2>

                        </div>
                      </td>


                    </tr>
                    <tr>
                      <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                        <div>
                          <h2 class="font-medium text-gray-800  ">A life is not important except in the impact it has on
                            other lives</h2>

                        </div>
                      </td>


                    </tr>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- End of profile tab -->
          </div>
        </div>
      </div>
    </main>
    </div>
</body>

</html>